alias x=shexec
alias eal='np ~/.aliases'
alias ebash='np ~/.bashrc'
alias efunc='np ~/.functions'
alias ral='. ~/.aliases && . ~/.dir-aliases && . ~/.functions && . ~/.exec-functions'
alias np=notepad++
alias cls=clear
alias mysrc='cd /r'
alias l=ls
alias md=mkdir
alias gs='git status'
alias move=mv
alias lst='ls -lrt'
alias cd..='cd ..'
alias cd...='cd ../..'
alias ..='../..'
alias c=clear
alias ll='ls -l'
alias cdada='cd ~/appdata/roaming'
alias cdtemp='cd ~/appdata/local/temp'
alias h=history