alias eal="np ~/.aliases"
alias efunc="np ~/.functions"
alias ral="unalias -a && . ~/.aliases && . ~/.functions && . ~/.dir-aliases"
alias efunc="np ~/.functions"
alias s2="subjects 2"
alias s3="subjects 3"
alias s5="subjects 5"
alias s10="subjects 10"
alias s15="subjects 15"
alias s20="subjects 20"
alias gs="git status"
alias gwl="git worktree list"
alias md="mkdir"
alias l=ls
alias ll="ls -l"
alias ebash="np ~/.bashrc"
alias ein="np ~/.inputrc"
alias cls=clear
alias x=shexec
alias h=history
alias mysrc='cd /r'