aa() {
    if [[ ${1::2} == "-r" ]] || [[ ${1::2} == "-d" ]] || [[ ${1::2} == "-m" ]] || [[ ${1::2} == "-t" ]]; then
        ada $*
        unalias -a
        . ~/.dir-aliases
        . ~/.aliases
    else
        if [[ -n $(type -t $1) ]]; then
            echo already an alias, command or function
        else
            ada -a $1
            unalias -a
            . ~/.dir-aliases
            . ~/.aliases
        fi
    fi
}

ccd() {
	if [[ -d $1 ]]; then
		cd $1;
	elif [[ -f $1 ]]; then
		DIR = "$(dirname $1)"
		cd $DIR
	else
		echo 1
		tmpFile='/c/temp/ccd.txt'
		echo 2
		cchangeDirectory $* >$tmpFile
		echo 3
		read -r firstLine <$tmpFile
		if [[ "$firstLine" =~ ^#cd ]]; then
			dir=${firstLine:5}
			dirWithoutCR=${dir::-1} #remove windows CR
			cd $dirWithoutCR
		else
			cat $tmpFile
		fi
	fi
}

gcurr() {
	git branch --show-current
}

cdt() {
	cd $(cdtrue)
}

sa() {
	asubst a .
}

sb() {
	asubst b .
}

sx() {
	asubst x .
}

sy() {
	asubst y .
}

sz() {
	asubst z .
}

ta() {
    cd $(asubst -t a)
}

tb() {
    cd $(asubst -t b)
}

tx() {
    cd $(asubst -t x)
}

ty() {
    cd $(asubst -t y)
}

tz() {
    cd $(asubst -t z)
}

ff() {
	find . -iname $*
}

mc() {
    md $1 && cd $1
}

mca() {
    md $1 && cd $1 && sa
}

mcb() {
    md $1 && cd $1 && sb
}

mcx() {
    md $1 && cd $1 && sx
}

mcy() {
    md $1 && cd $1 && sy
}

mcz() {
    md $1 && cd $1 && sz
}

ckill() {
    pskill chrome
}

bkill() {
    pskill brave
}

root() {
    local root
    root=$(git rev-parse --show-toplevel 2>/dev/null)
    echo $root
    if [[ -n "$root" ]]; then
        cd "$root" || return
        return
    fi
  # Not in a Git repo — look upward for a .sln file
  local dir=$PWD
  while [[ "$dir" != "/" ]]; do
    for file in "$dir"/*.sln; do
      [[ -e "$file" ]] && cd "$dir" && return
    done
    dir=${dir%/*}  # Move up a directory without dirname
  done
}

pww() {
    local winath
    winpath=$(pwd -W)
    echo -n "${winpath//\//\\}" > /dev/clipboard
}

pg() {
    pslist | grep -i $1
}

gup() {
    git add -u && git commit -m"updates" && git push
}

gist() {
  local filename="${1:-clipboard.txt}"
  local desc="${2:-"Public gist from clipboard"}"
  cat /dev/clipboard >/c/temp/clip.txt
  gh gist create /c/temp/clip.txt -f "$filename" -d "$desc" --public
}

pipex() {
    powershell -ExecutionPolicy Bypass -File /r/ps1/pipex.ps1 $1
}

monswt() {
    /c/bin/monswt.com "$@"
}

set_tab_color() {
    printf '\033]6;1;tab-color;%s\a' "$1"
}

nuse() {
    drive='\\'$1'\d$'
    printargs $drive
    net use $drive
}

rescan() {
    ssh adrian@stoaty 'sudo /usr/sbin/minidlnad -R'
}
