set completion-ignore-case On

"\e[A": history-search-backward
"\e[B": history-search-forward

"\e[1;5C": forward-word
"\e[1;5D": backward-word

TAB:menu-complete

# shift-tab for going backwards in the list of files:
"\e[Z": menu-complete-backward

"\e[3;5~": shell-kill-word
"\e[3;5~": shell-backward-kill-word

"\C-H": shell-backward-kill-word

"\e\e": kill-whole-line
